/***************************************
 * *********首页轮播图********************
 */

#banner {
	width: 100%;
	overflow: hidden;
	position: relative;
}

#banner .swiper-slide {
	position: relative;
	text-align: center;
}

#banner img {
	width: 100%;
	display: block;
}

.pagination {
	position: absolute;
	z-index: 20;
	bottom: 0px;
	width: 66px;
	text-align: center;
	right: 0;
}

.swiper-pagination-bullet {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background: #fff;
	margin: 0 2px;
	opacity: 0.8;
	cursor: pointer;
}

.swiper-pagination-bullet-active {
	background: #FF6363;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 0;
	left: 0;
	width: 100%;
}